# benchmarking files
run_log.txt
benchmark_data.csv
benchmark_smiles.smi
precomputed.csv
chemprop_features.csv
chemprop_*_logs
benchmarks/alkanes/Alkane
benchmarks/alkanes/alkane_dataset.tar.gz
benchmarks/freesolv/database.txt
benchmarks/pgp/jm101421d_si_001.xls
benchmarks/hiv/HIV.csv
benchmarks/quantumscents/dataset
benchmarks/quantumscents/models
benchmarks/quantumscents/LICENSE
benchmarks/quantumscents/quantumscents.zip
benchmarks/quantumscents/setup.py
benchmarks/quantumscents/README.md
benchmarks/hopv15_subset/CEPDB_25000.csv
benchmarks/hopv15_subset/OSCML_Data.zip
benchmarks/fubrain/ci9b00180_si_002.xlsx
benchmarks/flash/ef200795j_si_001.xls
benchmarks/flash/chemprop_data.csv
benchmarks/h2s/1-s2.0-S0167732217350985-mmc1.xlsx

# todo's
benchmarks/tox21
benchmarks/ace
benchmarks/chiral
benchmarks/cepdb_subset
paper/paper.pdf

# run logs
csv_logs
tensorboard_logs

# cached descriptors from fastprop
cached_*.csv

# database from hyperparameter optimization
*.db

# machine-specific configuration file
.fastpropconfig

# temporary files for debugging
temp
temp.py

# reference studies
chemprop

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
